@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: block;
        float: right;
    }
    .title-home {
        font-size: 4.3em;
        text-align: left;
    }
    .nav-links {
        margin-top: -50px;
        background-color: transparent;
    }
    /*.card {
        position: relative;
        margin: auto;
        margin: 5px;
    }*/
}