@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: block;
        float: right;
    }
    menu > ul > li > a {
        margin-top: -50px;
    }
    .title-home {
        font-size: 4.3em;
        text-align: left;
    }
}